<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
<%- include("./partials/nav.ejs") %>

<div id="main">
    <div class="fof">
        <h1>Error 404</h1>
    </div>
</div>

<%- include("./partials/footer.ejs") %>
</body>
</html>